*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: auto;
    position: relative;
}

.container .text{
    position: absolute;
    color: white;
    left: 50%;
    top: 10%;
    font-size: 30px;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}